body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

#pdf-viewer {
    width: 80%;
    height: 90%;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

#pdf-canvas {
    display: block;
    margin: auto;
    width: 100%;
    height: auto;
}
